{% load static %}

<!doctype html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <title>Snicks</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        {% include 'header.html' %}

        {% block content %}
        {% endblock %}

        {% include 'footer.html' %}
    </body>

</html>