{% load static %}
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5 payments">
                <img src="{% static 'img/icon-mastercard.svg' %}"/>
                <img class="visa" src="{% static 'img/icon-visa.svg' %}"/>
            </div>
            <div class="col-xs-9 col-md-5 contact">
                <a href="">info@snicks.ee</a>
                <a href="">+372 5555 5555</a>
            </div>
            <div class="col-xs-3 col-md-2 socials">
                <a href="">
                    <img src="{% static 'img/icon-facebook.svg' %}"/>
                </a>
                <a href="">
                    <img src="{% static 'img/icon-instagram.svg' %}"/>
                </a>
            </div>
        </div>
    </div>
</div>
