{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row first-block"></div>
<div class="container">
    <div class="row product">
        <div class="col-xs-12 col-md-12 col-lg-7 images">
            <img src="{% static 'img/product-image-1.png' %}"/>
            <img src="{% static 'img/product-image-2.png' %}"/>
            <img src="{% static 'img/product-image-3.png' %}"/>
            <img src="{% static 'img/product-image-4.png' %}"/>
            <img src="{% static 'img/product-image-5.png' %}"/>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-5 info">
            <div class="breadcrumbs">
                <a href="" class="item">Product list</a>
                <p class="item">- Nike</p>
            </div>
            <h1 class="product-name">Nike Metcon 5</h1>
            <div class="price">€ 145.-</div>
            <p class="description">The Nike Metcon 5 X Night Time Shine arms you with stability for heavy lifting and traction for sprints during high-impact training. It combines breathability and durability to be your secret weapon in the gym and comes with a removable Hyperlift insert that's compatible with all prior versions of the Metcon.</p>
            
            <!-- Colors and Size for Mobile -->

            <div class="colors-size-mobile">
                <div class="colors-mobile">
                    <h3 class="title">Color</h3>
                    <form class="form">
                        <select>
                            <optgroup label="Available">
                                <option value="Black">Black</option>
                                <option value="Blue">Blue</option>
                                <option value="Orange">Orange</option>
                            </optgroup>
                            <optgroup label="Pre-order">
                                <option value="Red">Red</option>
                            </optgroup>
                        </select>
                    </form>
                </div>
                <div class="size-mobile">
                    <h3 class="title">Size</h3>
                    <form class="form">
                        <select>
                            <optgroup label="Available">
                                <option value="42">42</option>
                                <option value="42.5">42.5</option>
                                <option value="43">43</option>
                            </optgroup>
                            <optgroup label="Pre-order">
                                <option value="46">46</option>
                            </optgroup>
                        </select>
                    </form>
                </div>
            </div>

            <!-- Colors and Size for Desktop -->

            <div class="colors-desktop">
                <div class="stock">
                    <h2 class="title">Color</h2>
                    <div class="options">
                        <div class="option active">
                            <div class="color" style="background-color: #000;"></div>
                            <p class="name">Black</p>
                        </div>
                        <div class="option">
                            <div class="color" style="background-color: #0145FF;"></div>
                            <p class="name">Blue</p>
                        </div>
                        <div class="option">
                            <div class="color" style="background-color: #FF7801;"></div>
                            <p class="name">Orange</p>
                        </div>
                    </div>
                </div>
                <div class="preorder">
                    <h2 class="title">Available on pre-order</h2>
                    <div class="options">
                        <div class="option">
                            <div class="color" style="background-color: #FB1A1A;"></div>
                            <p class="name">Red</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="size-desktop">
                <div class="stock">
                    <h2 class="title">Size</h2>
                    <div class="options">
                        <div class="option active">
                            <p class="name">42</p>
                        </div>
                        <div class="option">
                            <p class="name">42.5</p>
                        </div>
                        <div class="option">
                            <p class="name">43</p>
                        </div>
                    </div>
                </div>
                <div class="preorder">
                    <h2 class="title">Available on pre-order</h2>
                    <div class="options">
                        <div class="option">
                            <p class="name">41</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-block">
                <a href="" class="button button-grey">
                    Add to favorites
                </a>
                <a href="" class="button button-blue">
                    Add to cart
                </a>
            </div>
        </div>
    </div>
    <div class="row similar">
        <h3 class="col-xs-12 col-md-12 col-lg-12 title">Similar products</h3>
        <div class="col-xs-6 col-md-3 col-lg-3 product-thumbnail">
            <div class="image">
                <div class="labels">
                    <div class="label popular">popular</div>
                    <div class="label pre-order">preorder</div>
                </div>
                <div class="other-images">
                    <img class="active" src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                </div>
                <a href="" class="main">
                    <img src="{% static 'img/productsample.png' %}"/>
                </a>
            </div>
            <a href="">
                <h2 class="name">Nike Metcon 5</h2>
            </a>
            <div class="parameters">
                <p class="color">6 Colors</p>
                <p class="size">5 Sizes</p>
            </div>
            <p class="price">145.- €</p>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 product-thumbnail">
            <div class="image">
                <div class="labels">
                    <div class="label popular">popular</div>
                    <div class="label pre-order">preorder</div>
                </div>
                <div class="other-images">
                    <img class="active" src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                </div>
                <a href="" class="main">
                    <img src="{% static 'img/productsample.png' %}"/>
                </a>
            </div>
            <a href="">
                <h2 class="name">Nike Metcon 5</h2>
            </a>
            <div class="parameters">
                <p class="color">6 Colors</p>
                <p class="size">5 Sizes</p>
            </div>
            <p class="price">145.- €</p>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 product-thumbnail">
            <div class="image">
                <div class="labels">
                    <div class="label popular">popular</div>
                    <div class="label pre-order">preorder</div>
                </div>
                <div class="other-images">
                    <img class="active" src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                </div>
                <a href="" class="main">
                    <img src="{% static 'img/productsample.png' %}"/>
                </a>
            </div>
            <a href="">
                <h2 class="name">Nike Metcon 5</h2>
            </a>
            <div class="parameters">
                <p class="color">6 Colors</p>
                <p class="size">5 Sizes</p>
            </div>
            <p class="price">145.- €</p>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 product-thumbnail">
            <div class="image">
                <div class="labels">
                    <div class="label popular">popular</div>
                    <div class="label pre-order">preorder</div>
                </div>
                <div class="other-images">
                    <img class="active" src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                    <img src="{% static 'img/productsample.png' %}"/>
                </div>
                <a href="" class="main">
                    <img src="{% static 'img/productsample.png' %}"/>
                </a>
            </div>
            <a href="">
                <h2 class="name">Nike Metcon 5</h2>
            </a>
            <div class="parameters">
                <p class="color">6 Colors</p>
                <p class="size">5 Sizes</p>
            </div>
            <p class="price">145.- €</p>
        </div>
    </div>
</div>
{% endblock %}
    